::-webkit-scrollbar {
  width: .5rem;
  height: .5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #951919;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background-color: #B51B1B;
  border-radius: 50px;
}



/* шапка */
.navbar-btn span {
  width: 30px;
  height: 30px;
}

.navbar-btn {
  background-color: rgba(0, 0, 0, 0);
  width: 170px;
  filter: invert(1);
  border: none;
}

.container-fluid>img {
  width: 150px;
  margin: 0 auto;

}

.telephone {
  display: flex;
}

.telephone a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 18px;
}

@media screen and (max-width: 767px) {

  .telephone {
    display: none;
  }

  .navbar {
    flex-wrap: nowrap;

  }

  .container-fluid>img {
    width: 90px;
    margin: 0 auto;

  }

  .navbar-btn {
    width: 10px;
  }

}

/* ------------------------------------------- */
/* Меню */

.offcanvas-header {
  justify-content: center;
  background-color: rgba(207, 11, 11, 0.74);

}

.offcanvas-header img {
  width: 180px;
}

.btn-close {
  margin: 0 !important;
  position: absolute;
  right: 10px;
  top: 10px;
  filter: invert(1);
}

.offcanvas-body {
  background-color: rgba(207, 11, 11, 0.74);
}

.nav-link {
  font-weight: 500;
  color: white;
}

/* ------------------------------------------- */
/* первый слайдер */

.first-carousel {
  padding: 0;
  margin-bottom: 32px;

}

.first-carousel .carousel-item {
  display: flex;
  max-height: 800px;
}

.first-carousel .carousel-item img {
  object-fit: cover;
}

.first-carousel .carousel-item h1 {
  font-weight: 700;
  font-size: 44px;
}

.first-carousel .carousel-item p {
  font-size: 18px;


}

@media screen and (max-width: 1200px) {
  .first-carousel .carousel-item h1 {
    font-size: 32px;
  }

  .first-carousel .carousel-item p {
    font-size: 14px;
    width: 548px;

  }
}

@media screen and (max-width: 767px) {

  .first-carousel .carousel-item h1 {
    font-size: 24px;
  }

  .first-carousel .carousel-item p {
    font-size: 14px;
    width: 300px;

  }

  .first-carousel .carousel-item img {
    object-fit: cover;
    height: 300px;

  }

}

/* ------------------------------------------------- */
/* кнопки меню */
.bnt-menu {
  background-color: #B51B1B;
  text-decoration: none;
  color: #FFFFFF;
  padding: 5px 20px;
  font-size: 12px;
  border-radius: 15px;
  width: auto;
  cursor: pointer;

}

.content-menu .active {
  background-color: #000000;
}

.content-menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;


}


@media screen and (max-width: 767px) {
  .content-menu a {
    margin: 0px 10px;
  }

  .content-menu {
    max-width: 250px;
    margin: 0 auto;

  }
}




/* ------------------------------------------------- */
/* Стили "карта еды") */
.product-card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
  transition: all .3s;
  border-radius: 3%;
  background-color: #E3E3E3;
  margin-top: 40px;

}

@media (hover: hover) {

  .product-card:hover {
    box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
    border-radius: 5%;
  }
}

.product-photo {
  height: 450px;
  margin: 0 auto;
}

.product-photo img {
  width: 100%;
  height: 100%;
  border-radius: 4%;
  object-fit: contain;
  padding: 20px 0 0 0;

}

.product-details {
  padding: 20px;
}

.product-details h4 {
  font-weight: 500;
  display: block;
  max-height: 60px;
  overflow: hidden;
  color: #000000;
}

.product-details p {
  margin-bottom: 20px;
  height: 44px;
  overflow: hidden;
  color: #000000;

}

.product-ves {
  display: flex;
  justify-content: space-between;
}

.product-bottom-details {
  overflow: hidden;
  padding-top: 10px;
}

.product-price {
  font-size: 18px;
  font-weight: 600;
  color: #000000;
}

/* --------------------------------------------- */
/* Подвал */

.footer {
  background-image: url('../img/footer.png');
  background-size: cover;
  color: white;
  padding: 20px 0;
  position: relative;
  margin-top: 50px;


}

.footer-blur {

  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  top: 0;

  position: absolute;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  flex-wrap: wrap;
  z-index: 1;
  position: relative;
}

.footer-section:nth-child(2) {
  align-self: center;
}

.footer-section {
  min-width: 200px;
  font-weight: 500;
}

.footer-section h2 {
  margin-top: 0;
  margin-bottom: 24px;
  color: bisque;
}

.footer-section img {
  width: 245px;
}

.footer-bottom {
  max-width: 80%;
  margin: 0 auto;
  border-top: 2px solid white;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  margin-top: 20px;
  z-index: 1;
  position: relative;
}

.footer-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;

}

.footer-buttons a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 5px 0;
  font-weight: 500;

}

.coperaid {
  font-size: 15px;
  align-self: center;
}

.footer-section a {
  color: #FFFFFF;
  text-decoration: none;
  display: flex;
  align-items: center;
  column-gap: 5px;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 18px;
}

.footer-section a>img {
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 1200px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    text-align: center;
    min-width: 100%;
  }

  .footer-section img {
    margin-bottom: 20px;
  }

  .footer-bottom {
    flex-direction: column;
  }

  .coperaid {
    margin-top: 20px;
  }

  .footer-section {
    font-size: 16px;
    min-width: 200px;
    margin: 0 auto;

  }
}


@media screen and (max-width: 767px) {
  .footer-buttons a {
    padding: 0px 15px;
  }

  .footer-section a {
    font-size: 16px;
  }

  .footer-section a>img {
    margin: 0;
  }

  .footer-section img {
    margin: 16px 0;
  }
}