::-webkit-scrollbar {
  width: .5rem;
  height: .5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #951919;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background-color: #B51B1B;
  border-radius: 50px;
}

/* шапка */
.navbar-btn span {
  width: 30px;
  height: 30px;
}

.navbar-btn {
  background-color: rgba(0, 0, 0, 0);
  width: 170px;
  filter: invert(1);
  border: none;
}

.container-fluid>img {
  width: 150px;
  margin: 0 auto;
  padding: 16px 0;

}



.telephone {
  display: flex;
}

.telephone a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 18px;
}

@media screen and (max-width: 767px) {

  .telephone {
    display: none;
  }

  .navbar {
    flex-wrap: nowrap;

  }

  .container-fluid>img {
    width: 90px;
    margin: 0 auto;

  }

  .navbar-btn {
    width: 10px;
  }

}

/* ------------------------------------------- */
/* Бургер меню */

.offcanvas-header {
  justify-content: center;
  background-color: rgba(207, 11, 11, 0.74);

}

.offcanvas-header img {
  width: 180px;
}

.btn-close {
  margin: 0 !important;
  position: absolute;
  right: 10px;
  top: 10px;
  filter: invert(1);
}

.offcanvas-body {
  background-color: rgba(207, 11, 11, 0.74);
}

.nav-link {
  font-weight: 500;
  color: white;
}

/* ------------------------------------------- */
/* Видео */
.video-container{
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
}
.banner video{
  height: auto;
  width: 100%;
  position: absolute;
  top: -150px;
  left: 0;
}
.banner{
  position: relative;
}

.banner .content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.content h1{
  font-size: 100px;
  color: #FFFFFF;
  font-weight: 700;
}
.content h2{
  font-size: 100px;
  color: #B51B1B;
  font-weight: 700;
  margin-top: -51px;
}

/* --------------------------------------------- */
/* МЕНЮ */
.shapka {
  text-align: center;
  margin-top: 40px;
  position: relative;
}

.shapka::after {
  content: "";
  width: 55%;
  height: 2px;
  background-color: #6B7153;
  position: absolute;
  left: 22.5%;
  top: 110%;
}

.shapka h1 {
  font-size: 96px;
  font-weight: 400;
  position: relative;
}

.shapka h1::after {
  content: "";
  width: 60%;
  height: 5px;
  background-color: #6B7153;
  position: absolute;
  left: 20%;
  top: 100%;
}

/* Наливки настойки */
.head-table{
  margin-top: 50px;
  border: 3px solid #6B7153;
  width: 500px;
  
}

.head-table h2{
  background-color: #6B7153;
  width: 497px;
  font-size: 48px;
  color: #FFFFFF;
  text-align: center;
  padding: 15px 0;
  
}
.name-product{
  padding: 32px 24px;
}
.name-product p {
display: flex;
justify-content: space-between;
font-size: 24px;
}
.name-product span{
  font-size: 20px;
}

.nalivki-nast{
  display: flex;
  justify-content: space-between;
}
/* Наливки настойки */
/* ------------------------------ */
/* сеты */
.sets-head{
  margin-top: 50px;
}

.sets-head h2{
  background-color: #6B7153;
  font-size: 48px;
  color: #FFFFFF;
  text-align: center;
  padding: 15px 0;
}

.sets-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 24px;
}
.sets-name>p{
  font-size: 32px;
  font-weight: 600;
}

.sets-description{
  font-size: 20px;
  font-weight: 300;
}

.sets-weight{
  font-size: 28px;
  font-weight: 600;
}

.sets-price{
  font-size: 28px;
  font-weight: 600;
}
/* сеты */
/* ------------------------------ */


/* --------------------------------------------- */
/* Подвал */

.footer {
  background-image: url('../img/footer.png');
  background-size: cover;
  color: white;
  padding: 20px 0;
  position: relative;
  margin-top: 50px;


}

.footer-blur {

  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  top: 0;

  position: absolute;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  flex-wrap: wrap;
  z-index: 1;
  position: relative;
}

.footer-section {
  min-width: 200px;
  font-weight: 500;
}

.footer-section h2 {
  margin-top: 0;
  margin-bottom: 24px;
  color: bisque;
}

.footer-section img {
  width: 245px;
  height: 154px;
}

.footer-bottom {
  max-width: 80%;
  margin: 0 auto;
  border-top: 2px solid white;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  margin-top: 20px;
  z-index: 1;
  position: relative;
}

.footer-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;

}

.footer-buttons a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 5px 0;
  font-weight: 500;

}

.coperaid {
  font-size: 15px;
  align-self: center;
}

.footer-section a {
  color: #FFFFFF;
  text-decoration: none;
  display: flex;
  align-items: center;
  column-gap: 5px;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 18px;
}

.footer-section a>img {
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 1200px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    text-align: center;
    min-width: 100%;
  }

  .footer-section img {
    margin-bottom: 20px;
  }

  .footer-bottom {
    flex-direction: column;
  }

  .coperaid {
    margin-top: 20px;
  }

  .footer-section {
    font-size: 16px;
    min-width: 200px;
    margin: 0 auto;

  }
}


@media screen and (max-width: 767px) {
  .footer-buttons a {
    padding: 0px 15px;
  }

  .footer-section a {
    font-size: 16px;
  }

  .footer-section a>img {
    margin: 0;
  }
}