* шапка */ .navbar-btn span {
    width: 30px;
    height: 30px;
}

.navbar-btn {
    background-color: rgba(0, 0, 0, 0);
    width: 170px;
    filter: invert(1);
    border: none;
}

.container-fluid>img {
    width: 150px;
    margin: 0 auto;
}

/* шапка */


/* Меню */

.offcanvas-header {
    background-color: rgb(48, 45, 43);
}

.offcanvas-body {
    background-color: rgba(207, 11, 11, 0.74);
}

.nav-link {
    font-weight: 500;
    color: white;
}

.btn-close {
    filter: invert(1);
}

.offcanvas-header {
    justify-content: center;
}

/* Меню */


/* первый слайдер */

.first-carousel {
    padding: 0;

}

.first-carousel .carousel-item {
    display: flex;
    max-height: 800px;
}

.first-carousel .carousel-item img {
    object-fit: cover;
}

.first-carousel .carousel-item h1 {
    font-weight: 700;
}

/* первый слайдер */

/* Стили "карта еды") */
.product-card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
    transition: all .3s;
    border-radius: 3%;
    background-color: antiquewhite;

}

.product-card:hover {
    box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
    border-radius: 5%;
}



.product-photo img {
    width: 100%;
    height: 300px;
    border-radius: 4%;
    object-fit: cover;
}

.product-details {
    padding: 20px;
}

.product-details h4 {
    font-weight: 500;
    display: block;
    max-height: 60px;
    overflow: hidden;
}

.product-details p {
    margin-bottom: 20px;
    height: 44px;
    overflow: hidden;

}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 10px;
}

.product-price {
    font-size: 18px;
    font-weight: 600;
}

/* Стили "карта еды") */