::-webkit-scrollbar {
  width: .5rem;
  height: .5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #951919;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background-color: #B51B1B;
  border-radius: 50px;
}

/* шапка */
.navbar-btn span {
  width: 30px;
  height: 30px;
}

.navbar-btn {
  background-color: rgba(0, 0, 0, 0);
  width: 170px;
  filter: invert(1);
  border: none;
}

.container-fluid>img {
  width: 150px;
  margin: 0 auto;
  padding: 16px 0;

}



.telephone {
  display: flex;
}

.telephone a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 18px;
}

@media screen and (max-width: 767px) {

  .telephone {
    display: none;
  }

  .navbar {
    flex-wrap: nowrap;

  }

  .container-fluid>img {
    width: 90px;
    margin: 0 auto;

  }

  .navbar-btn {
    width: 10px;
  }

}

/* ------------------------------------------- */
/* Бургер меню */

.offcanvas-header {
  justify-content: center;
  background-color: rgba(207, 11, 11, 0.74);

}

.offcanvas-header img {
  width: 180px;
}

.btn-close {
  margin: 0 !important;
  position: absolute;
  right: 10px;
  top: 10px;
  filter: invert(1);
}

.offcanvas-body {
  background-color: rgba(207, 11, 11, 0.74);
}

.nav-link {
  font-weight: 500;
  color: white;
}

/* ------------------------------------------- */
/* Видео */
.video-container {
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
}

.banner video {
  height: auto;
  width: 100%;
  position: absolute;
  top: -150px;
  left: 0;
}

.banner {
  position: relative;
}

.banner .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.content h1 {
  font-size: 100px;
  color: #FFFFFF;
  font-weight: 700;
}

.content h2 {
  font-size: 100px;
  color: #B51B1B;
  font-weight: 700;
  margin-top: -51px;
}



/* --------------------------------------------- */
/* МЕНЮ */
.shapka {
  text-align: center;
  margin-top: 40px;
  position: relative;
}

.shapka::after {
  content: "";
  width: 22%;
  height: 2px;
  background-color: #6B7153;
  position: absolute;
  left: calc(78% / 2);
  top: 110%;
}

.shapka h1 {
  font-size: 96px;
  font-weight: 400;
  position: relative;
}

.shapka h1::after {
  content: "";
  width: 27%;
  height: 5px;
  background-color: #6B7153;
  position: absolute;
  left: calc(73% / 2);
  top: 100%;
}

/* Напитки */
.napitki-head {
  margin-top: 50px;
  border: 3px solid #6B7153;
  width: 400px;
}

.napitki-head h2 {
  background-color: #6B7153;
  width: auto;
  font-size: 48px;
  color: #FFFFFF;
  text-align: center;
  padding: 15px 0;
}

.napitki-name {
  width: 150PX;
}

.napitki-name>p {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.napitki-description {
  font-size: 16px;
  font-weight: 300;
}

.napitki-weight {
  font-size: 16px;
  font-weight: 700;

}

.napitki-price {
  font-size: 16px;
  font-weight: 700;


}

/* чай кофе */
.coffe-tea {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;

}

.tea-head {
  margin-top: 50px;
  border: 3px solid #6B7153;
  max-width: 850px;
}

.tea-head h2 {
  background-color: #6B7153;
  width: auto;
  font-size: 48px;
  color: #FFFFFF;
  text-align: center;
  padding: 15px 0;
}

.category img {
  width: 30px;
  height: 30px;
  align-self: center;
}

.category {
  background-color: black;
  color: #FFFFFF;
  font-size: 32px;
  font-weight: 600;
  margin: 32px 0 20px 24px;
  padding: 10px;
  display: flex;
  column-gap: 10px;
  width: 305px;

}

.tea-content {
  display: flex;
  justify-content: space-between;
  align-items: self-start;
  gap: 10px;
  padding: 20px 24px 0 24px;
  width: 350px;
  height: 70px;

}

.tea-name {
  width: 150px;
}

.tea-name>p {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.tea-description {
  font-size: 18px;
  font-weight: 350;
}

.tea-weight {
  font-size: 16px;
  font-weight: 700;

}

.tea-price {
  font-size: 16px;
  font-weight: 700;


}

/* ---------------------------------- */
/* Наливки настойки */
.head-table {
  margin-top: 50px;
  border: 3px solid #6B7153;
  width: 500px;

}

.head-table h2 {
  background-color: #6B7153;
  width: auto;
  font-size: 48px;
  color: #FFFFFF;
  text-align: center;
  padding: 15px 0;

}

.name-product, .name-product1 {
  padding: 32px 24px;
}

.name-product p, .name-product1 p {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}

.name-product span, .name-product1 span {
  font-size: 20px;
}

.nalivki-nast {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* ------------------------------ */
/* сеты */
.sets-head {
  margin-top: 50px;
}
.sets-head .napitki-weight,.sets-head .napitki-price{
  font-size: 20px;
}
.sets-head h2 {
  background-color: #6B7153;
  font-size: 48px;
  color: #FFFFFF;
  text-align: center;
  padding: 15px 0;
}

.sets-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 24px;
}

.sets-name>p {
  font-size: 32px;
  font-weight: 600;
}

.sets-description {
  font-size: 20px;
  font-weight: 300;
  max-width: 700px;
}

.sets-weight {
  font-size: 28px;
  font-weight: 600;
}

.sets-price {
  font-size: 28px;
  font-weight: 600;
}

/* ------------------------------ */
/* Пиво */
.beer-head {
  margin-top: 50px;
  border: 3px solid #6B7153;
}

.beer-head h2 {
  background-color: #6B7153;
  font-size: 48px;
  color: #FFFFFF;
  text-align: center;
  padding: 15px 0;
}

.beer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 24px 0;
}

.beer-name>p {
  font-size: 24px;
  font-weight: 600;
}


.beer-description {
  font-size: 18px;
  font-weight: 300;
  width: 700px;
}

.beer-weight {
  font-size: 28px;
  font-weight: 600;
}

.beer-price {
  font-size: 28px;
  font-weight: 600;
  width: 150px;
}

/* ------------------------------ */
/* Водка/коньяк */
.alk {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.alk-head {
  margin-top: 50px;
  border: 3px solid #6B7153;
  width: 600px;
}

.alk-head h2 {
  background-color: #6B7153;
  width: auto;
  font-size: 48px;
  color: #FFFFFF;
  text-align: center;
  padding: 15px 0;
}

.alk-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 24px 0;
  gap: 25px;
}

.alk-name>p {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  width: 350px;
}

.alk-description {
  font-size: 18px;
  font-weight: 350;
}

.alk-weight {
  font-size: 20px;
  font-weight: 700;
}

.alk-price {
  font-size: 20px;
  font-weight: 700;
}

/* --------------------------------- */
/* Мобильная версия */
@media screen and (max-width: 767px) {

  /* Видео */
  .video-container {
    height: 200px;
  }

  .banner .content {
    top: 50%;
  }

  .banner video {
    top: 60px;
    transform: scale(2);
  }

  .content img {
    width: 100px;
  }

  .content h1 {
    font-size: 30px;
  }

  .content h2 {
    font-size: 30px;
    margin-top: -21px;
  }

  /* --------------------------------------- */
  .shapka::after {
    width: 60%;
    left: calc(40% / 2);
    top: 125%;
  }

  .shapka h1 {
    font-size: 96px;
    font-weight: 400;
    position: relative;
  }

  .shapka h1::after {
    width: 70%;
    left: calc(30% / 2);
    top: 100%;
  }

  /* ------------------------------------ */
  /* напитки */

  .shapka h1 {
    font-size: 36px;
  }

  /* напитки------------------------- */
  .napitki-head {
    width: 100%;
  }

  .napitki-head h2 {
    width: 100%;
    font-size: 24px;
  }

  .napitki-weight {
    font-weight: 400;
  }

  .napitki-price {
    font-weight: 400;
  }


  /* Чай-Кофе------------------------- */
  .coffe-tea {
    flex-direction: column;
  }

  .tea-head {
    width: 100%;
  }

  .tea-head h2 {
    font-size: 24px;
  }

  .tea-name>p {
    font-weight: 600;
  }

  .tea-weight {
    font-weight: 400;
  }

  .tea-price {
    font-weight: 400;
  }

  .tea-content {
    width: 100%;
    padding: 10px 12px 0;
    gap: 2px;
  }

  .category {
    margin: 32px 0 10px;
    width: 100%;
    justify-content: center;
    font-size: 18px;
    padding: 5px 0;
  }

  .category img {
    width: 20px;
    height: 20px;
  }

  /* --------------------------------------- */
  /* алкоголь */

  /* Наливки-настойки---------------------------- */
  .nalivki-nast {
    flex-direction: column;
  }

  .name-product {
    padding: 16px 12px 0;
  }

  .name-product p {
    font-weight: 600;
    font-size: 18px;
  }

  .name-product span {
    font-weight: 400;
    font-size: 16px;
  }

  .head-table {
    width: 100%;
  }

  .head-table h2 {
    font-size: 24px;
  }

  /* сеты-------------------------------------- */
  .sets-head h2 {
    font-size: 24px;
  }

  .sets-content {
    padding: 16px 12px;
    flex-direction: column;
    align-items: flex-start;
  }

  .sets-name>p {
    font-size: 18px;
  }

  .sets-description {
    font-size: 16px;
  }

  .sets-weight {
    font-size: 16px;
    font-weight: 500;
  }

  .sets-price {
    font-size: 16px;
    font-weight: 500;
  }

  /* Пиво -------------------------------------------- */
  .beer-head h2 {
    font-size: 24px;
  }

  .beer-content {
    gap: 4px;
    align-items: flex-start;
    padding: 16px 12px 0;
    width: 100%;
  }

  .beer-name {
    width: 150px;
  }

  .beer-name>p {
    font-size: 18px;
    width: 150px;
  }

  .beer-description {
    font-size: 16px;
    width: 150px;
  }

  .beer-weight {
    font-size: 14px;
    font-weight: 400;
  }

  .beer-price {
    font-size: 14px;
    width: 70px;
    font-weight: 400;
  }

  .category {
    margin: 32px 0 10px;
  }

  /* Водка-коньяк-вино-------------------------------- */
  .alk {
    flex-direction: column;
  }

  .alk-content {
    padding: 16px 12px 0;
    gap: 2px;
    align-items: flex-start;
  }

  .alk-head {
    width: 100%;
  }

  .alk-head h2 {
    font-size: 24px;
  }

  .alk-name>p {
    font-size: 18px;
    width: 150px;
  }

  .alk-description {
    width: 150px;
    font-size: 16px;
  }

  .alk-weight {
    font-size: 16px;
    font-weight: 400;
  }

  .alk-price {
    font-size: 16px;
    font-weight: 400;
  }


}

/* --------------------------------------------- */
/* Подвал */

.footer {
  background-image: url('../img/footer.png');
  background-size: cover;
  color: white;
  padding: 20px 0;
  position: relative;
  margin-top: 50px;


}

.footer-blur {

  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  top: 0;

  position: absolute;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  flex-wrap: wrap;
  z-index: 1;
  position: relative;
}

.footer-section:nth-child(2) {
  align-self: center;
}

.footer-section {
  min-width: 200px;
  font-weight: 500;
}

.footer-section h2 {
  margin-top: 0;
  margin-bottom: 24px;
  color: bisque;
}

.footer-section img {
  width: 245px;

}

.footer-bottom {
  max-width: 80%;
  margin: 0 auto;
  border-top: 2px solid white;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  margin-top: 20px;
  z-index: 1;
  position: relative;
}

.footer-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;

}

.footer-buttons a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 5px 0;
  font-weight: 500;

}

.coperaid {
  font-size: 15px;
  align-self: center;
}

.footer-section a {
  color: #FFFFFF;
  text-decoration: none;
  display: flex;
  align-items: center;
  column-gap: 5px;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 18px;
}

.footer-section a>img {
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 1200px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    text-align: center;
    min-width: 100%;
  }

  .footer-section img {
    margin-bottom: 20px;
  }

  .footer-bottom {
    flex-direction: column;
  }

  .coperaid {
    margin-top: 20px;
  }

  .footer-section {
    font-size: 16px;
    min-width: 200px;
    margin: 0 auto;

  }
}


@media screen and (max-width: 767px) {
  .footer-buttons a {
    padding: 0px 15px;
  }

  .footer-section a {
    font-size: 16px;
  }

  .footer-section a>img {
    margin: 0;
  }

  .footer-section img {
    margin: 16px 0;
  }
}



/* popup */

/* body {
  overflow: hidden;
} */

.popup-back {
  z-index: 10;
  width: 100%;
  position: fixed;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  top: 0;
  transition: .3s;
  transform: scale(1);
}

.popup-body {
  max-height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 650px;
  background-color: white;
  padding: 24px;
  border-radius: 10px;
}

.top-row {
  display: flex;
  align-items: center;
  column-gap: 32px;
}

@media (max-width: 768px) {
  .top-row {
    flex-direction: column-reverse;
  }

  .btns {
    flex-direction: column;
  }
}

.top-row img {
  width: 220px;
  border-radius: 100%;
}

.popup_content h2 {
  font-size: 36px;
  width: 360px;
}

.popup_content>p {
  margin-top: 16px;
  font-size: 14px;
}

.btns {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 32px 0;
}

.btns button {
  outline: none;
  border-radius: 10px;
  padding: 10px 20px;
  color: white;
  transition: .3s;
}

.btns button:first-child {
  background-color: #6B7153;
  border: 2px solid #6B7153;
}

.btns button:first-child:hover {
  background-color: white;
  color: #6B7153;
  transition: .3s;
}

.btns button:last-child {
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #6B7153;
  color: #6B7153;
}

.btns button:last-child:hover {
  background-color: #6B7153;
  color: white;
  transition: .3s;
}

.popup-body .facts a {
  color: #6B7153;
}

.popup-body .facts {
  text-align: center;
  font-size: 14px;
  margin-bottom: 8px;
}

.popup-body label {
  display: flex;
  column-gap: 5px;
  align-items: center;
  cursor: pointer;
  user-select: none;
  justify-content: center;
  font-size: 14px;
}

/* popup */


/* Drink cards */

.drinks {
  max-width: 1300px;
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  margin: 2rem auto;
  justify-content: center;
}
.category-block {
  width: 600px;
  border: 5px solid #6b7153;
}
.drinks > div > h2 {
  text-align: center;
  text-transform: uppercase;
  background-color: #6b7153;
  color: white;
  font-size: 48px;
  padding: 16px 0;
}
.drinkCard {
  display: flex;
  padding: 16px;
  justify-content: space-between;
}
.name {
  width: 200px;
}
.name h2 {
  font-size: 32px;
}
.name p {
  font-size: 20px;
  font-weight: 300;
}
.volume {
  font-size: 32px;
  font-weight: 500;
}
.price {
  font-size: 32px;
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .drinks {
    max-width: calc(100% - 32px);
  }
  .volume, .price, .name h2 {
    font-size: 24px;
  }
  .name p {
    font-size: 16px;
  }
}